{% extends "admin/change_list.html" %}

{% block content_title %}
  {{ block.super }}
  <div style="margin-top: 20px; padding: 10px; background-color: #1a1a1a; color: #fff;">
    <h3> Статистика товаров</h3>
    <p>Средняя цена: <strong>{{ avg_price }} ₽</strong></p>
    <p>Общая стоимость всех товаров на складе: <strong>{{ total_value }} ₽</strong></p>

    <h4> Товары по категориям:</h4>
    <ul>
      {% for item in category_counts %}
        <li>{{ item.category__name }} — {{ item.count }} шт.</li>
      {% empty %}
        <li>Нет товаров </li>
      {% endfor %}
    </ul>
    <ul>
              {% for name, count in category_counts_list %}
          <tr>
            <td style="border: 1px solid #ccc; padding: 8px;">{{ name }}</td>
            <td style="border: 1px solid #ccc; padding: 8px;">{{ count }}</td>
          </tr>
        {% endfor %}
    </ul>
    {% if has_cheap_products %}
  <div style="color: green; font-weight: bold;">
    ✅ Есть товары дешевле 500 ₽
  </div>
{% else %}
  <div style="color: red; font-weight: bold;">
    ❌ Нет товаров дешевле 500 ₽
  </div>
{% endif %}

  </div>
{% endblock %}
